<div class="spot">
  <div class="video-container">
    <!-- <iframe [src]="url"
              class="video"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe> -->
    <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
  </div>
  <div class="box-container">
    <h5>Marca</h5>
    <h4>Quilmes</h4>
  </div>
  <div>
    <app-tags></app-tags>
  </div>
  <div>
    <app-reproduction-control></app-reproduction-control>
  </div>
</div>