<div class="header w-100">
  <div class="navbar">
    <!-- =================== -->
    <!-- Left item -->
    <!-- =================== -->
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="title">Spot</span>
    </div>
    <!-- =================== -->
    <!-- Right item -->
    <!-- =================== -->
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>send</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <div>
          <button mat-menu-item>
              <span>Reportar</span>
          </button>
          <button mat-menu-item disabled>
            <span>Omitir</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>