<div class="title">
    <h5>Desliza para descartar el incorrecto</h5>
</div>
<div class="container-reproductions">
    <div class="row-reproduction">
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
    </div>
    <div class="row-reproduction">
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
        <div>
            <img src="assets/images/dsBuffer.png" alt="">
        </div>
    </div>
</div>